@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Armando Ordoñez<br />
    j301297@gmail.com<br />
    <abbr title="Phone">P:</abbr>
    5583828974
</address>

